.hita-status-tag-default-light {
  background-color: #f1f1f1;
  color: #757575;
}

.hita-status-tag-default-dark {
  background-color: #313131;
  color: #fafafa;
}

.hita-status-tag-disabled-light {
  background-color: #e6e6e6;
  color: #a1a1a1;
}

.hita-status-tag-disabled-dark {
  background-color: #494949;
  color: #8f8f8f;
}

.hita-status-tag-info-light {
  background-color: #d9ebfe;
  color: #2057a0;
}

.hita-status-tag-info-dark {
  background-color: #2b3849;
  color: #cce4f6;
}

.hita-status-tag-success-light {
  background-color: #eff9f0;
  color: #639069;
}

.hita-status-tag-success-dark {
  background-color: #2c3c32;
  color: #d0f0d1;
}

.hita-status-tag-warning-light {
  background-color: #fff4ef;
  color: #ff6207;
}

.hita-status-tag-warning-dark {
  background-color: #3b2e26;
  color: #ffceb1;
}

.hita-status-tag-error-light {
  background-color: #f20d0d0f;
  color: #f01414;
}

.hita-status-tag-error-dark {
  background-color: #3f161f;
  color: #f7a7b9;
}

.hita-status-tag-default-shape {
  border-radius: 3px;
}

.hita-status-tag-square-shape {
  border-radius: 0;
}

.hita-status-tag-round-shape {
  border-radius: 50px;
}

.hita-status-tag {
  font-size: 12px;
  padding: 0 4px;
}

.hita-status-tag.hita-status-tag-round-shape {
  padding: 0 6px;
}
