@font-face {
  font-family: Youshe Biaotihei;
  src: url(../assets//fonts/Youshe-Biaotihei.ttf);
}
.d-flex {
  display: flex;
}
.a-center {
  align-items: center;
}
.j-center {
  justify-content: center;
}
.j-sb {
  justify-content: space-between;
}
.j-sr {
  justify-content: space-around;
}
/* Spacing */
.m-0 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.m {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.m-1 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.m-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.m-3 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.m-4 {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.m-5 {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx {
  margin-left: 5px;
  margin-right: 5px;
}
.mx-1 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-2 {
  margin-left: 20px;
  margin-right: 20px;
}
.mx-3 {
  margin-left: 30px;
  margin-right: 30px;
}
.mx-4 {
  margin-left: 40px;
  margin-right: 40px;
}
.mx-5 {
  margin-left: 50px;
  margin-right: 50px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.my-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-0 {
  margin-top: 0;
}
.mt {
  margin-top: 5px;
}
.mt-auto {
  margin-top: auto;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}

.mb-0 {
  margin-bottom: 0;
}
.mb {
  margin-bottom: 5px;
}
.mb-auto {
  margin-bottom: auto;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-5 {
  margin-bottom: 50px;
}

.ml-0 {
  margin-left: 0;
}
.ml {
  margin-left: 5px;
}
.ml-auto {
  margin-left: auto;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-3 {
  margin-left: 30px;
}
.ml-4 {
  margin-left: 40px;
}
.ml-5 {
  margin-left: 50px;
}

.mr-0 {
  margin-right: 0;
}
.mr {
  margin-right: 5px;
}
.mr-1 {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}
.mr-4 {
  margin-right: 40px;
}
.mr-5 {
  margin-right: 50px;
}

.p-0 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.p {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.p-1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.p-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-3 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.p-4 {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.p-5 {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px {
  padding-left: 5px;
  padding-right: 5px;
}
.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}
.px-4 {
  padding-left: 40px;
  padding-right: 40px;
}
.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-0 {
  padding-top: 0;
}
.pt {
  padding-top: 5px;
}
.pt-1 {
  padding-top: 10px;
}
.pt-2 {
  padding-top: 20px;
}
.pt-3 {
  padding-top: 30px;
}
.pt-4 {
  padding-top: 40px;
}
.pt-5 {
  padding-top: 50px;
}

.pb-0 {
  padding-bottom: 0;
}
.pb {
  padding-bottom: 5px;
}
.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}
.pb-4 {
  padding-bottom: 40px;
}
.pb-5 {
  padding-bottom: 50px;
}

.pl-0 {
  padding-left: 0;
}
.pl {
  padding-left: 5px;
}
.pl-1 {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 20px;
}
.pl-3 {
  padding-left: 30px;
}
.pl-4 {
  padding-left: 40px;
}
.pl-5 {
  padding-left: 50px;
}

.pr-0 {
  padding-right: 0;
}
.pr {
  padding-right: 5px;
}
.pr-1 {
  padding-right: 10px;
}
.pr-2 {
  padding-right: 20px;
}
.pr-3 {
  padding-right: 30px;
}
.pr-4 {
  padding-right: 40px;
}
.pr-5 {
  padding-right: 50px;
}
